<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chart Scanner 소개</title>
  <style>
    body {
      font-family: sans-serif;
      padding: 16px;
      line-height: 1.6;
      max-width: 640px;
      margin: auto;
      background-color: #f9f9f9;
    }
    h1, h2, h3 {
      color: #222;
    }
    img {
      max-width: 100%;
      height: auto;
      margin: 12px 0;
      border-radius: 8px;
    }
    .section {
      margin-bottom: 32px;
    }
  </style>
</head>
<body>
  <div class="section">
    <h3>0. 알아두면 좋을 정보들이 들어올 자리입니다.</h3>
    <p></p>
  </div>

  <div class="section">
    <h3>5. 그 밖의 이야기</h3>
    <p>2025-6-23 이후의 최신 데이터 다운로드는 시간이 정말 오래걸립니다. <br> 제가 따로 서버를 운영하면 더 빨라집니다.
      <small>* 지금은 서버 운영하기엔 예산이 부족합니다... 정식발매를 하면 꼭 포함시킬생각입니다.</small>
      </p>
  <p>
      Demo버전이므로 앱이 내려갈수도 있습니다! 주의해주세요.<br>그밖에 문의사항이 있다면 ahriman018@gmail.com으로 연락주세요.
  </p>
  </div>



</body>
</html>
