<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Deletion Statistics</title>
</head>
<body>
    <h1>File Deletion Statistics</h1>
    <table border="1">
        <thead>
            <tr>
                <th>IP Address</th>
                <th>Status</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.ip_address }}</td>
                <td>{{ log.status }}</td>
                <td>{{ log.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form id="wholeform" method="POST" action="{% url 'delete_html' %}">
            {% csrf_token %}
            <input type="text" id="ip" name="ip" placeholder="html file 삭제할 ip 입력" required>
            <button id="submitbtn" type="submit">확인</button>
    </form>
</body>
</html>